<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <add key="gss_interval" value="3600000" />
    <!-- 1 minute -->
    <add key="battlebit_exe" value="BattleBit.exe" />
    <add key="battlebit_app_id" value="671860" />
    <add key="battlebit_dir" value="C:\battlebit\" />
    <add key="battlebit_temp_dir" value="C:\battlebit-temp\" />
    <add key="gss_syslog_name" value="GSS_SYSLOG_SERVER_NAME" />
    <add key="steamcmd_file_path" value="C:\steamcmd\steamcmd.exe" />
    <add key="steam_username" value="STEAM_USERNAME" />
  </appSettings>
</configuration>