<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="gss_interval" value="60000"/>
		<add key="battlebit_exe" value="BattleBit.exe"/>
		<add key="battlebit_app_id" value="671860"/>
		<add key="battlebit_dir" value="C:\battlebit\"/>
		<add key="gss_cache_file" value="GSSCache.txt"/>
		<add key="gss_syslog_name" value="GSS_SYSLOG_SERVER_NAME"/>
		<add key="gss_api_endpoint" value="GSS_API_ENDPOINT"/>
		<add key="steamcmd_app_api" value="https://api.steamcmd.net/v1/info/"/>
		<add key="steamcmd_file_path" value="C:\steamcmd\steamcmd.exe"/>
		<add key="steam_username" value="STEAM_USERNAME"/>
		<add key="gss_server_name" value="GSS_SERVER_NAME"/>
		<add key="gss_server_password" value="GSS_SERVER_PASSWORD"/>
		<add key="gss_api_token" value="GSS_API_TOKEN"/>
	</appSettings>
</configuration>